<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Informational Site</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
    </nav>
    <main>
      <h2><%= title %></h2>
      <p>This little project is part of The Odin Project curriculum</p>
    </main>
    <footer>
      <p>made by Julia Bier with ❤️</p>
    </footer>
  </body>
</html>